
INFO6105 Instructor: Dr. Handan Liu

Homework 2

Grading: total 100 points.



Part 1: Pandas -- 8 questions, total 44 points.

1. [3 points] Given data = [1,2,3,4,5,6,7,8,9,5,3]
   (1) create a Pandas Series (1pts), and 
   (2) calculate the mean of the Series (0.5pts) and print the outputs to 4 decimal places in floating point format (0.5pts)
   (3) calcaulate the standard deviation of the Series (0.5pts) and print the outputs to 4 decimal places in floating point format (0.5pts).

2. [2 points] NumPy array: d1 = [10, 20, 30, 40, 50];  dictionary: d2 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}    
Convert the NumPy array and the dictionary to Pandas Series, respectively.

3: [4 points] Construct a DataFrame as the sameple data here and output (2pts). Use "iloc" to convert the first column of a DataFrame as a Series (2pts). 
Sample data:
    col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

4. Create a DataFram with multiple indice, the result should be the following: here, "random" means any integer random number for books. [7 point]

                       Bob     Tom
 1st          2nd                    
fiction       one     random  random
              two     random  random
non-fiction   one     random  random
              two     random  random
sci-fi        one     random  random
              two     random  random
chapter       one     random  random
              two     random  random

5. Write a Pandas program to replace all the NaN values with Zero's in a column of a dataframe. [5 points]. 
Sample data is a dataset for an exam:
  attempts name qualify score
0 1 Anastasia yes 12.5
1 3 Dima no 9.0
2 2 Katherine yes 16.5
3 3 James no N/A
4 2 Emily no 9.0
5 3 Michael yes 20.0
6 1 Matthew yes 14.5
7 1 Laura no N/A
8 2 Kevin no 8.0
9 1 Jonas yes 19.0
1) Construct a DataFrame and the column in the order as name, score, attempts, qualify; [3pts]
2) New DataFrame replacing all missing data with 0 and print. [2pts]

6. Add some data ['500', 'php'] to an existing Series. [3 points]
Given Data Series:
0       100
1       200
2    python
3    300.12
4       400

7. [10 points]: Given data:
    col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11   
(1) Construct a DataFrame from the given data (and print)   [3pts]
(2) Print the number of columns of the DataFrame            [1pt]
(3) Select all columns, except one given column 'col3'      [2pts]
(4) Remove first 3 rows of the DataFrame    [2pts]
(5) Remove last 3 rows of the DataFrame     [2pts]  
Tips: use indexers loc and/or iloc to finish.

8. [10 points]: 
(1) read data from HW2_movies.csv file to Pandas
(2) get the information of the DataFrame (movies.csv file) including data types and memory usage.
(3) count the number of rows and columns of the DataFrame 
(4) get the details of fifth movie of the DataFrame.
(5) display the movies (title, runtime)longer than 30 minutes and shorter than 360 minutes.



Part 2: Matplotlib -- 5 questions, total 39 points.

1. [6 points]: plot several lines with different format styles in one command using arrays.
Sampled time at 200ms intervals: t = np.arange(0., 5., 0.2)
Using green dashes, blue squares and red triangles to plot: t, t**2, t**3.

2. [11 points]: plot line1 and line2 with different styles
# line 1 points
x1 = [10,20,30]
y1 = [20,40,10]
# line 2 points
x2 = [10,20,30]
y2 = [40,10,30]
Set the x and y axes labels as 'x' and 'y';    [2pts]
Plot lines and/or markers to the Axes: blue,red; dotted, dashed;   [4pts, each 1pt]
Plot the width of line1 as 3 and line2 as 5;   [2pts, each 1pt]
Set a title: "Plot with two or more lines with different styles";  [1pt]
show a legend on the plot as 'line1-dotted', 'line2-dashed'.       [2pt, each 1pt]

3. [4 points]: draw a scatter plot with empty circles taking a 50-point random distribution in X and Y; set X and Y as x- and y- axes lables; any color for face and edge, and plotted against each other.

4. [6 points]:  create bar plot from a DataFrame. The result should be the following figure.
Sample DataFrame:
  a b c d e 
2 4,8,5,7,6
4 2,3,4,2,6
6 4,7,4,7,8
8 2,6,4,8,6
10 2,4,3,3,2

5. [12 points]:
The following dataset for average monthly precipitation. You will create and customize a plot. 
Month    Precipitation (inches)
Jan      0.70
Feb      0.75
Mar      1.85
Apr      2.93
May      3.05
June     2.02
July     1.93
Aug      1.62
Sept     1.84
Oct      1.31
Nov      1.39
Dec      0.84

5.1 [6 points]: Begin by creating a plot using the default styles provided by matplotlib.pyplot. 
You will use months along the x-axis and precip along the y-axis.
Set plot title as "Average Monthly Precipitation";
Add labels to the axes: x label as "Month", y label as "Precipitation (inches)"

5.2 [6 points]: Change Plot Type
You can turn your plot into a bar plot; 
also assign a fill color using "green".



Part 3: Titanic Case Analyzing with Pandas and Visulizing with Matplotlib
Total: 17 points

1. Data Overview: 6pts
(1) From HW2_titanic.csv, read into the data in Pandas: 2pts
(2) Understand the meaning of each variable: 2pts
(3) View all numeric class variables and their associated statistics: 2pts

2.Simple analysis of data relationships: 6pts
(1) Number of survivors and deaths: 2pts
(2) Distribution of survivors and deaths at each level by a DataFrame: 4pts

3. Visulization: 5pts
(1) Use a bar plot to show the distribution of survivors and deaths at each level: each level (Pclass) as x-axis, number of people as y-axis. In each same bar, "Survived" is on the top, and "Died" is on the bottom. 4pts
(2) Show the legend as "Died" and "Survived". 1pt